

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>여기 어때? 여기 버려!</title>
	
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/all.css" />
</head>
<body>
	
	<div class="preview preview-hidden">
      <div class = "loading-page">
		<div class="loading-container">
		  <div class="loading"></div>
		  <div class="loading-logo">
			<img src="./logo.png" alt="logo" />
			<h1>여기 어때? 여기 버려!</h1>
		  </div>
		</div>
		<div class="loading_info">
		  <span> 현재는 영등포구의 쓰레기통만 지원하고 있어요. </span>
		  <span> 조만간 영등포구를 넘어 서울을 정복할 겁니다! </span>
		</div>
	  </div>
    </div>
    
    <div class="main">
      <header class="header">
        <img src="./logo.png" alt="logo" />
        <div class="title">
          <h1>여기 어때?</h1>
          <h1>여기 버려!</h1>
        </div>
      </header>
      <div class="map">
        <input type="hidden" id="myJsonData" value="<%=JSON.stringify(data)%>" />
        <div id="mapView"></div>
      </div>
      <section class="info">
        <div class="grid">
          <div class="icon">
            <img src="./marker.png" alt="marker" />
          </div>
          <div class="location" id = "first">
            <span>가장 가까운 쓰레기통을 찾는 중입니다.</span>
          </div>
          <div class="meter">
            <!-- <strong>10M</strong> -->
          </div>
        </div>
        <div class="grid">
          <div class="icon">
            <img src="./marker.png" alt="marker" />
          </div>
          <div class="location" id = "second">
            <span>가장 가까운 쓰레기통을 찾는 중입니다.</span>
          </div>
          <div class="meter">
            <!-- <strong>10M</strong> -->
          </div>
        </div>
        <div class="grid">
          <div class="icon">
            <img src="./marker.png" alt="marker" />
          </div>
          <div class="location" id = "third">
            <span>가장 가까운 쓰레기통을 찾는 중입니다.</span>
          </div>
          <div class="meter">
            <!-- <strong>10M</strong> -->
          </div>
        </div>
        <div class="grid hidden">
          <div class="icon">
            <img src="./marker.png" alt="marker" />
          </div>
          <div class="location" id = "third">
            <span>가장 가까운 쓰레기통을 찾는 중입니다.</span>
          </div>
          <div class="meter">
            <!-- <strong>10M</strong> -->
          </div>
        </div>
        <div class="grid hidden">
          <div class="icon">
            <img src="./marker.png" alt="marker" />
          </div>
          <div class="location" id = "third">
            <span>가장 가까운 쓰레기통을 찾는 중입니다.</span>
          </div>
          <div class="meter">
            <!-- <strong>10M</strong> -->
          </div>
        </div>
      </section>
    </div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=kakaoMap%>&libraries=services"></script>
<script type="text/javascript" src = "./source.js"></script>
</body>
</html>