

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trash To Trashcan</title>
	
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header class="header">
      <img src="./logo.png" alt="logo" />
      <h1>쓰레기는 쓰레기통에!!</h1>
      <h1>근데 쓰레기통은 어디에</h1>
    </header>
    <div class="map">
      <input type="hidden" id="myJsonData" value="<%=JSON.stringify(data)%>" />
      <div id="mapView"></div>
    </div>
    <section class="info">
      <div class="grid">
        <div class="icon">
          <img src="./marker.png" alt="marker" />
        </div>
        <div class="location" id = "first">
          <span>123123123123123 당산역 7번 출구 뒤</span>
        </div>
        <div class="meter">
          <strong>10M</strong>
        </div>
      </div>
      <div class="grid">
        <div class="icon">
          <img src="./marker.png" alt="marker" />
        </div>
        <div class="location" id = "second">
          <span>당산역 7번 출구 뒤 fasdfasdfsa dfsdafasd </span>
        </div>
        <div class="meter">
          <strong>10M</strong>
        </div>
      </div>
      <div class="grid">
        <div class="icon">
          <img src="./marker.png" alt="marker" />
        </div>
        <div class="location" id = "third">
          <span>당산역 7번 출구 뒤</span>
        </div>
        <div class="meter">
          <strong>10M</strong>
        </div>
      </div>
      <div class="grid hidden">
        <div class="icon">
          <img src="./marker.png" alt="marker" />
        </div>
        <div class="location" id = "third">
          <span>당산역 7번 출구 뒤</span>
        </div>
        <div class="meter">
          <strong>10M</strong>
        </div>
      </div>
      <div class="grid hidden">
        <div class="icon">
          <img src="./marker.png" alt="marker" />
        </div>
        <div class="location" id = "third">
          <span>당산역 7번 출구 뒤</span>
        </div>
        <div class="meter">
          <strong>10M</strong>
        </div>
      </div>
    </section>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=kakaoMap%>&libraries=services"></script>
<script type="text/javascript" src = "./source.js"></script>
</body>
</html>