#hidden {
  display: none;
}

body {
    width:100%;
    height:100vh;
}

/* LOADING */
.preview {
    width:100%;
    height:100vh;
    background-color: #082d64;
    overflow: hidden;
}

.loading {
  width: 230px;
  height: 230px;
  position: absolute;
  border-radius: 100%;
}

.loading-container {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  margin: 0 auto;
  border: 3px solid transparent;
  border-color: transparent #fff transparent #fff;
  animation: rotate-loading 3s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

.loading-container:hover .loading {
  border-color: transparent #47f097 transparent #47f097;
}
.loading-container:hover .loading,
.loading-container .loading {
  transition: all 0.5s ease-in-out;
}

.loading-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-logo img {
  width: 120px;
}
.loading-logo h1 {
  color: #d5def1;
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-info {
  width: 100%;
  position: fixed;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-info span {
  color: white;
  font-size: 15px;
  text-align: center;
}

/* Mobile CSS*/
/* MAIN */
.main {
  background-color: #dddddd;
  width:100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #082d64;
  color: #d5def1;
  font-family: "Do Hyeon", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 70vh;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1:first-child {
    margin-right: 10px;
}

.header img {
  width: 5rem;
  margin-top: 10px;
}

#mapView {
  width: 100%;
  height: 40vh;
  position: relative;
  bottom: 50vh;
}

.info {
  width: 100vw;
  position: fixed;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 0.3fr 3fr 1fr;
  width: 85vw;
  height: 9vh;
  background-color: white;
  border-radius: 10px;
  margin: 5px 0;
  cursor:pointer;
  transition: transform 150ms ease-in;
}

.grid:hover {
    transform: scale(1.1);
}

.icon,
.location,
.meter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0 10px;
}
.location {
  font-size: 1.8vh;
  text-align: center;
}
.meter {
  font-size: 2.5vh;
  margin: 0 15px;
}

.info img {
  width: 6.5vh;
}

.hidden {
  display: none;
}

@media screen and (max-height: 600px) {
    .title {
        display: none;
    }
}

/* >= 1025px (Desktop) */
@media screen and (min-width: 1025px) {    
    /* LOADING */
  .loading {
    width: 500px;
    height: 500px;
  }

  .loading-logo img {
    width: 200px;
  }
  .loading-logo h1 {
    font-size: 34px;
  }
 
  /* MAIN */
  .main {
    display: flex;
    flex-direction: row-reverse;
  }

  .header h1 {
    font-size: 2rem;
    line-height: 1;
  }
  .header img {
    width: 7rem;
  }
    
  .header,
  .info {
    width: 30vw;
    height: 100vh;
  }

  #mapView {
    width: 70vw;
    height: 150vh;
    position: static;
  }

  .info {
    position: fixed;
    top: 200px;
  }
  .grid {
    width: 25vw;
    height:12vh;
  }
  .location {
    font-size: 1rem;
  }
  .meter {
    font-size: 1.3rem;
  }
    
  .info img {
    width: 4rem;
  }
  .hidden {
    display: grid;
  }
}