body {
  background-color: #082d64;
}

.loading {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 100%;
}

.loading-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  margin: 0 auto;
  border: 3px solid transparent;
  border-color: transparent #fff transparent #fff;
  animation: rotate-loading 3s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

.loading-container:hover .loading {
  border-color: transparent #47f097 transparent #47f097;
}
.loading-container:hover .loading,
.loading-container .loading {
  transition: all 0.5s ease-in-out;
}

.loading-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-logo img {
  width: 150px;
}
.loading-logo h1 {
  color: #d5def1;
  font-family: "Do Hyeon", sans-serif;
  font-size: 24px;
  margin-bottom: 30px;
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info {
  width: 100%;
  position: fixed;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info span {
  color: white;
  text-align: center;
}

/* >= 768px (Desktop) */
@media screen and (min-width: 769px) {
  .loading {
    width: 500px;
    height: 500px;
  }

  .loading-logo img {
    width: 200px;
  }
  .loading-logo h1 {
    font-size: 34px;
  }
}
